<div class="container">
  <h3 align="center" class="main-title"><%= @article.title %></h3>

  <div class="row">
    <div class="col-sm-12">
      <div class="card" style="margin-bottom: 30px">
        <div class="card-block">
          <p class="card-text"><%= @article.body %></p>
        </div>
      </div>
    </div>
  </div>
</div>